* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sub-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
}

.b1 {
    padding: 27px;
    font-size: 20px;
    border-radius: 7px;
}

.operator {
    padding: 27px;
    font-size: 20px;
    border-radius: 7px;
}

#show {
    padding: 20px;
    text-align: right;

}

.b1:hover {
    background-color: #94bbe9;

}

.operator:hover {
    background-color: #94bbe9;
}